@media all and (max-width:320px){
    /* #product_cart{
        width: 110px;
        height: 170px;
    } */
    #containerList{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #box_card{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media all and (max-width:375px){
    #containerList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 80%;
}

#box_card{
    display: flex;
    align-items: center;
    justify-content: center;
}
}

