#navbar{
    background-color: white;
    border-radius: 7px;
    width: 100%;
    margin-top: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
#icon_btn {
    width: 60px;
    height: 50px;
    color: rgba(46, 45, 45, 0.842);
}
#pages{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.74);
    font-size: 0.5cm;
}
#pages:hover{
    color: blue;
    transition: 600ms;
}

#icon_btn:hover{
    color: black;
    transition: 600ms;
}

#apple-btn {
    border-radius:100px;
}
#admin{
    padding: 0 0 0 50px;
}
#burger_nav{
    display: none;
}
@media all and (max-width:1024px){
    #nav_admin{
        font-size: 80%;
    }
    #nav_user{
        font-size: 80%;
        height: 80%;
    }
    #pages{
        font-size: 90%;
        margin: 0 -30px 0 ;
    }
}

@media all and (max-width:768px){
    #nav_user{
        display: none;
    }
    #icon_btn{
        width: 80%;
        height: 80%;
    }
    #pages{
        display: flex;
        margin:0 -50px 0;
        font-size: 80%;
    }
    #apple-btn{
        width: 70px;
        height: 70px;
    }
}

@media all and (max-width:425px){
    #burger_nav{
        display: block;
    }
    #nav_menu{
        display: none;
    }

    #apple-btn{
        width: 60px;
        height: 60px;
    }

    #pages{
        font-size: 60%;
        margin: 15px -60px 0;
    }
    #nav_admin{
        font-size: 70%;
        margin:none;
    }
}

@media all and (max-width: 320px){
    #apple-btn {
        display: none;
    }
}
