*{
    font-family: 'Roboto Mono', monospace;
}

#top{
    margin-top: 80px; 
}
.block__img {
    width: 50%;
    border-radius: 30px;
}
 
#block__image {

    height: 600px;


} 

#block__image-h2{
    background-color: rgba(0, 0, 0, 0.164);
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    border-radius: 60px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 170px;
}

.card:hover {
    box-shadow: 2px 8px 16px 3px rgba(12, 11, 11, 0.466);
}

.block__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px 16px;
    background-color: aliceblue;
    border-radius: 30px 30px 5px 5px;
    gap: 0;

}

.block__card:hover{
    background-color: rgba(0, 0, 0, 0.479);
    color: aliceblue;
    transition: 800ms;
}

#edit__block{
    margin-top: 70px;
    background-image: url("https://img3.akspic.ru/crops/0/7/1/6/6/166170/166170-macos_12_monterey_official_stock_wallpaper_6k_resolution_light-3840x2160.jpg");
    width: 65%;
    border-radius: 100px 10px 100px 10px;
}
#block__image-right:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 800ms;
}

@media all and (max-width:768px){
    h1{
        font-size: 100%;
    }

    #h1{
        font-size: 50%; 
        width: 100px;
    }

}

@media all and (max-width:425px){
    #block__image-right{
        width: 80%;
    }
}


